@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

header{
    padding: 20px;
    text-align: center;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: rgb(255, 105, 105);
    font-family: 'Pixelify Sans';
}

header p{
    font-size: 10px;
    color: white;
    font-family: 'Pixelify Sans';
}

.heart{
    width: 300px;
    height: 300px;
    background: url('images/heart.png') no-repeat center / contain;
    animation: pulse 2.3s ease-in-out infinite;
    transition: 0.5s ease-in-out;
    transform-origin: bottom;
    position: relative;
    cursor: pointer;
}

.heart:hover{
    width: 400px;
    height: 400px;
    background: url('images/heart.png') no-repeat center / contain;
    animation: pulse 2.3s ease-in-out infinite;
    cursor: pointer;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
}

.heart-container {
    display: flex;
    gap: 20px; /* Adds space between hearts */
    position: absolute;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Pixelify Sans';
}

nav ul li a:hover {
    text-decoration: underline;
}

.fading-container {
    position: relative;
    width: 100%; /* Adjust size as needed */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
}

.fading-text {
    color: rgb(255, 105, 105);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pixelify Sans';
    position: absolute;
    transition: opacity 0.5s ease;
    pointer-events: none; /* Ensures text doesn't interfere with clicks */
}

/* Volume Control */
.volume-control {
    position: fixed;
    top: 18px;
    left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 100;
    padding: 8px;
    border-radius: 8px;
    background-color: #000000;
}

.volume-control label {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 14px;
}

#volume-label {
    color: rgb(255, 105, 105);
}

/* Volume Slider */
#volume-slider {
    width: 150px;
    appearance: none;
    background-color: #ccc;
    border-radius: 5px;
    height: 4px;
}

#volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 105, 105);
    border-radius: 50%;
    cursor: pointer;
}

#volume-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 105, 105);
    border-radius: 50%;
    cursor: pointer;
}

.sound-control {
    position: fixed;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 100;
    padding: 8px;
    border-radius: 8px;
    color: rgb(255, 105, 105);
    font-family: 'Pixelify Sans';
}

.sound-control label {
    font-size: 14px;
    color: #fff;
}

#sound-select {
    background-color: rgb(255, 105, 105);
    color: black;
    border: none;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}